.bhopal{
    color: rgb(218, 62, 182);
    background-color: rgb(32, 68, 68);

}
#hello{
    color: blue;
    background-color: chartreuse;
}
*{
    color: aquamarine;
}
input[type='text']{
    background-color: aquamarine;
}h1{
    color: blue;
}
<linl 